version: "3"
services:
  couch_slave3:
    image: "couchdb:2.3.0"
    restart: always
    ports:
      - "9584:5984"
      - "5986:5986"
      - "4369:4369"
      - "9100-9200:9100-9200"
    volumes:
      - /data/couchdb/slave3:/opt/couchdb/data
    environment:
      - COUCHDB_USER=user
      - COUCHDB_PASSWORD=pass
      - NODENAME=115.146.85.34
      - ERL_FLAGS=-setcookie "brumbrum"
    container_name: couch_slave3

